.main {
  display: flex;
  flex-direction: row;
  margin: 0px var(--padding-large);
}

.title {
  font-family: var(--font-h1);
  font-size: var(--font-size-h1);
  padding: 0 var(--padding-large);
}

@media (max-width: 840px) {
  .title {
    font-size: var(--font-size-h2);
    padding-bottom: var(--padding-base);
  }
}

@media (max-width: 500px) {
  .title {
    padding: 0px;
  }
}
