.footer {
  background: #2c3386;
  color: var(--c-text-light);
  font-family: Inter;
  font-size: var(--font-size-footer);
  height: 100%;
  padding: var(--padding-base);
  width: 100%;
  
}

.footerComponent {
  display: flex;
  justify-content: space-between;
}

.media {
  list-style-type: none;
}

.icon {
  display: flex;
  list-style-type: none;
}

.end {
  text-align: center;
}


.p {
  
}
