.wrapForm {
    padding-bottom: var(--padding-large);
}

.form {
    border: 1px solid #b7b7b7;
    border-radius: 10px;
    box-shadow: 5px 5px 12px 3px rgba(0, 0, 0, 0.105);
    flex-shrink: 0;
    padding: var(--padding-large);  
  }

.date{
    padding: var(--padding-large);
}

.consent {
    padding: var(--padding-large);
}

.checks {
    padding-right: var(--padding-base);
}

.name {
    font-family: var(--font-h2);
    font-size: var(--font-size-base);
}