.modalBackdrop {
  overflow: hidden;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 5px;
}

.modalContent {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-height: 80%; 
  overflow-y: auto; 
}


.modalHeader {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle {
  margin: 0;
}

.closeButton {
  background-color: var(--c-blue-deep);
  border: 3px solid var(--c-blue-deep);
  border-radius: 10px;
  color: var(--c-text-light);
  cursor: pointer;
  font-family: var(--font-btn);
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  width: 120px;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center; 
  margin-top: 20px; 
  margin-left: auto; 
  margin-right: auto; 
}
.closeIcon {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white; 
}

