.content {
    margin: 0px var(--padding-xl);
    padding: 0px var(--padding-large);
}

.title {
    padding: 0px var(--padding-large) var(--padding-large) var(--padding-large);
}

.text {
    padding: 0px var(--padding-large)var(--padding-large) var(--padding-large);
}