.content {
  margin: 0px var(--padding-xl);
  padding: 0px var(--padding-large);
}

.title {
  padding: 0px var(--padding-large) var(--padding-large) 0px;
}

.text {
  padding: 0px var(--padding-large) var(--padding-large) 0px;
}
.wrapButton {
  margin: 0px var(--padding-xl);

  .blueButton {
    background-color: var(--c-blue-deep);
    border: 3px solid var(--c-blue-deep);
    border-radius: 10px;
    color: var(--c-text-light);
    cursor: pointer;
    flex-shrink: 0;
    font-family: var(--font-btn);
    font-size: 20px;
    font-weight: 700;
    height: 45px;
    margin: 0px var(--padding-large);
    text-align: center;
    width: 120px;
  }

  .blueButton:hover {
    background-color: var(--c-blue);
  }

  .backButton {
    background-color: var(--c-text-light);
    border: 3px solid var(--c-blue-deep);
    border-radius: 10px;
    color: var(--c-text-dark);
    cursor: pointer;
    flex-shrink: 0;
    font-family: var(--font-btn);
    font-size: 20px;
    font-weight: 700;
    height: 45px;
    margin: 0px 0px 0px var(--padding-large);
    text-align: center;
    width: 120px;
  }

  .backButton:hover {
    background-color: #97b8d736;
  }

  .submitButton {
    background-color: var(--c-orange);
    border: 3px solid var(--c-orange);
    border-radius: 10px;
    color: var(--c-text-light);
    cursor: pointer;
    flex-shrink: 0;
    font-family: var(--font-btn);
    font-size: 20px;
    font-weight: 700;
    height: 45px;
    margin: 10px;
    text-align: center;
    width: 120px;
  }

  .submitButton:hover {
    background-color: #f4770abd;
  }
}

@media (max-width: 500px) {
  .content {
    margin: 0px;
    padding: 0px;
  }

  .title {
    font-size: var(--font-size-base);
  }

  .wrapButton{
    margin: 0px;

    .blueButton {
      margin: 0px;
      margin-left: 8px;
      height: 40px;
      width: 95px;
    }

    .backButton {
      margin: 0px;
      height: 40px;
      width: 95px;
    }

    .submitButton {
      height: 40px;
      width: 95px;
    }
  }
}
