.container {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  margin: var(--padding-xl) 0px;
}

.box {
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  box-shadow: 5px 5px 12px 3px rgba(0, 0, 0, 0.105);
  flex-shrink: 0;
  height: 270px;
  padding: var(--padding-large);
  width: 270px;
}

.boxHeader {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.checkBox {
  align-items: center;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.title {
  font-size: var(--font-size-h2);
  padding-bottom: var(--padding-s);
  padding-top: var(--padding-base);
}

.text {
  line-height: 1.6;
}

@media (max-width: 840px) {
  .container {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .header {
    padding: var(--padding-base);
  }
}

@media (max-width: 500px) {
  .container {
    margin: var(--padding-base) 0px;
  }
}
