.page {
  margin: 0px var(--padding-xl);
  padding: 0px var(--padding-large);
}

.circles {
  display: flex;
  list-style-type: none;
  margin: var(--padding-large) var(--padding-xl) var(--padding-large) 0px;
  padding: 0px var(--padding-large);
}

.list {
  padding-right: var(--padding-large);
}

.dots {
  height: 24px;
  width: 24px;
  fill: #b7b7b7;
}

@media (max-width: 500px) {
  .page {
    margin: 0px;
    padding: 0px;
  }

  .circles {
    margin: 0px;
    padding: var(--padding-large);
    padding-bottom: 0px;
  }

  .dots {
    height: 16px;
    width: 16px;
  }

  .list {
    padding-right: 10px;
  }
}
