.thanks {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 16px;
  text-align: center;
}

.title {
  font-size: var(--font-size-h1);
  font-weight: 800;
  padding: var(--padding-xl);
}

.text {
  padding-bottom: var(--padding-xl);
}

.button {
  background-color: var(--c-blue-deep);
  border: 3px solid var(--c-blue-deep);
  border-radius: 10px;
  color: var(--c-text-light);
  cursor: pointer;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  text-align: center;
  width: 120px;
}

.button:hover {
  background-color: var(--c-blue);
}
